html
{
  margin: 10px;
}


html body
{
  background-color: #CD4C47;
}

/* HEADER */

header
{
  background-size: 100%;
  background-image: url(../picture/background/orchid_art.jpg);
  border-radius: 25px 25px 0 0;
}

/* LOGO */
#logo
{
  margin: 20px 0 0 20px;
  width: 40px;
}


#nameSite
{
  margin-top: 15px;
  text-align: center;
  color: black;
}

.buttonDeconnexion
{
  text-align: right;
}

/*Navigation bar*/
.navbar
{
  background-color: transparent;
  border-color: transparent;
  display: flex;
  margin: auto;
}


/* Formulaire connexion */

#loginForm
{
  float: right;
  margin-right: 5px;
}

#validateButton
{
  opacity: 0.6;
}

#validateButton:hover
{
  opacity: 1;
}

#imgPen
{
  background: url(../picture/background/fondEcran.jpg) no-repeat;
  background-size: cover;
  border-radius: 0 0 25px 25px;
  height: 490px;
}

.buttonCenter
{
  display: block;
  margin : auto;
}


/* ----------------- */

/* Tinymce */

.textareaContent
{
  height: 500px;
  width: 100%;
}

.textareaTitle
{
  height: 200px;
  width: 60%;
  margin: 20px 30px 40px 30px;
}

h1, h2, h3, .comments
{
text-align:center;
}

h3
{
  background-color:#8a8a8a;
  padding: 3%;
  color:white;
  font-size:0.9em;
  margin-bottom:0px;
  border-radius: 10px 10px 0 0;
}

.creationDateFr {
  background-color:#CCCCCC;
  border-radius: 0 0 10px 10px;
}

.content
{
  background-color:#CCCCCC;
  border-radius: 10px;
  padding: 1%;

}

.news
{
  width:70%;
  margin:auto;
}

a
{
  text-decoration: none;
  color: blue;
}

.no_underline, .no_underline:hover
{
  text-decoration: none;
  color:#000;
}

.isSignaled{
  color: blue;
}

ul, #lienMenu{
  display: flex;
  justify-content: space-around;
}

.alignPost, h4{
  text-align: center;
}

label
{
	display: block;
	width: 150px;
	float: left;
}

input
{
  border-radius: 5px;
}

.formInscription
{
  padding-bottom: 4px;
}

hr
{
  align: center;
  size: 2;
  width: 50%;
}
